.contact-section{
    background-image:linear-gradient(45deg,rgba(2,33,64,0.8) 55% ,rgba(45,95,93,0.85)), url('../img/background5.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contact-section .row{
    margin: 0 auto;
}